:root {
    --ops-cursor-default: url(p-cursor.svg), auto;
    --ops-cursor-name: url(name-cursor.svg), auto;
    --ops-cursor-pointer: url(h-cursor.svg), auto;
    --ops-cursor-text: url(s-cursor.svg), auto;
}

* {
    transition: 0.5s;
}


@media (hover: hover) and (pointer: fine) {
    body {
        cursor: var(--ops-cursor-default);
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input[type=text],
    input[type=tel],
    input[type=email],
    input[type=search],
    textarea {
        cursor: var(--ops-cursor-text);
    }


    .nav h4 {
        cursor: var(--ops-cursor-name);
    }

    a,
    a *,
    button,
    button *,
    select,
    input[type=checkbox] {
        cursor: var(--ops-cursor-pointer);
    }
}